##DAY 1
**Write a program in Jupyter Notebook to declare variables of different data types (integer, float, string, and boolean). Print each variable and its type.**

In [1]:
integer_variable = 42
float_variable = 3.14
string_variable = "Hello, Jupyter!"
boolean_variable = True


print("Integer Variable:")
print("Value:", integer_variable, "| Type:", type(integer_variable))

print("\nFloat Variable:")
print("Value:", float_variable, "| Type:", type(float_variable))

print("\nString Variable:")
print("Value:", string_variable, "| Type:", type(string_variable))

print("\nBoolean Variable:")
print("Value:", boolean_variable, "| Type:", type(boolean_variable))

Integer Variable:
Value: 42 | Type: <class 'int'>

Float Variable:
Value: 3.14 | Type: <class 'float'>

String Variable:
Value: Hello, Jupyter! | Type: <class 'str'>

Boolean Variable:
Value: True | Type: <class 'bool'>

##DAY-2
**Create a List, tuple and Dictionary with 5 elements in it and how to access few elements based on the index. Try  with different examples**

In [3]:

my_list = [10, 20, 30, 40, 50]
my_tuple = ('apple', 'banana', 'cherry', 'date', 'elderberry')
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer', 'hobby': 'painting'}


print("Accessing List Elements:")
print("First element:", my_list[0])
print("Last element:", my_list[-1])
print("Slice (first 3 elements):", my_list[:3])


print("\nAccessing Tuple Elements:")
print("Second element:", my_tuple[1])
print("Slice (last 2 elements):", my_tuple[-2:])
print("Check if 'banana' is in tuple:", 'banana' in my_tuple)


print("\nAccessing Dictionary Elements:")
print("Value of 'name':", my_dict['name'])
print("Value of 'city':", my_dict['city'])
print("Keys in dictionary:", list(my_dict.keys()))
print("Values in dictionary:", list(my_dict.values()))

Accessing List Elements:
First element: 10
Last element: 50
Slice (first 3 elements): [10, 20, 30]

Accessing Tuple Elements:
Second element: banana
Slice (last 2 elements): ('date', 'elderberry')
Check if 'banana' is in tuple: True

Accessing Dictionary Elements:
Value of 'name': Alice
Value of 'city': New York
Keys in dictionary: ['name', 'age', 'city', 'job', 'hobby']
Values in dictionary: ['Alice', 25, 'New York', 'Engineer', 'painting']

##DAY-3

**Write a Python program that takes a student's marks in three subjects as input.
If the average is greater than or equal to 90, print "Grade: A".
If the average is between 80 and 89, print "Grade: B".
If the average is between 70 and 79, print "Grade: C".
Otherwise, print "Grade: Fail".**

In [4]:

subject1 = float(input("Enter marks for Subject 1: "))
subject2 = float(input("Enter marks for Subject 2: "))
subject3 = float(input("Enter marks for Subject 3: "))

average = (subject1 + subject2 + subject3) / 3


if average >= 90:
    grade = "A"
elif 80 <= average < 90:
    grade = "B"
elif 70 <= average < 80:
    grade = "C"
else:
    grade = "Fail"


print(f"Average Marks: {average:.2f}")
print(f"Grade: {grade}")

Enter marks for Subject 1: 20
Enter marks for Subject 2: 30
Enter marks for Subject 3: 40
Average Marks: 30.00
Grade: Fail

##DAY-4

**Write a Python program to calculate the sum of all even numbers between 1 and a given positive integer n**

In [5]:

n = int(input("Enter a positive integer (n): "))


even_sum = 0

for i in range(2, n + 1, 2):
    even_sum += i

# Output the result
print(f"The sum of all even numbers between 1 and {n} is: {even_sum}")

Enter a positive integer (n): 6
The sum of all even numbers between 1 and 6 is: 12